:root {

  --main-color:#B1ACE5;
  --mobile-h1-size:113px;
  --mobile-h2-size:80px;
  --mobile-h3-size:57px;
  --mobile-p-size:20px;
  --mobile-p-letterspacing:-5%;
  --font-family-primary: "Sometype Mono", monospace;
  --font-family-title: "silver-streak-variable", sans-serif;
  --font-family-h1-variation:"wght" 535, "wdth" 100;
  --font-family-h2-variation:"wght" 400, "wdth" 110;
  --mobile-title-spaceBetween:60px 30px 60px ;
}


body {
  font-family: var(--font-family-primary);
  color:var(--main-color);
  font-size: var(--mobile-p-size);
  letter-spacing: var(--mobile-p-letterspacing) ;
  font-optical-sizing: auto;
  font-style: normal;
  
}

h1{
  font-size: var(--mobile-h1-size);
  font-variation-settings: var(--font-family-h1-variation)
}

h2{
  font-size: var(--mobile-h2-size);
  font-variation-settings: var(--font-family-h2-variation)
}

.title {
  font-family: var(--font-family-title);
  opacity: 70%;
}
